.header {
    text-align:center;
    font-weight: 700;
    background-color: blue;
    color: whitesmoke;
    font-size: x-large;
    font-family:monospace;
    padding-top: 1px;
    width: 100%;
}
img{
    max-width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    background-size:10%;
    font-size: 7em;

}
h2{
    text-align: center;
    font-weight: 600;
    padding-left: 30%;
    padding-right: 30%;
    color: black;
    font-size: 5em;
}
h3{
    padding-left: 50%;
    width:max-content;
    color: black;
    font-size: 3em;
    background-color: azure;
    padding-left: 25%;
}
#lifestageContent{
    padding-right: 30%;
    
}
#container{
    display: flex;
    flex-direction: row;    
}
#item1{
    float: left;
    
}
#containerHobbies{
    background-image: url("bookcase.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.listHead{
    color: red;
}


#container2{
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    color: azure;
    gap: 50px;
    
}
.containerHome{
    background-image: url("gregphoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.text{
    font-size: x-large;
    color: white;
    font-weight: bolder;
    width: 75%;
    background-position: left;
    padding-right: 100px;
    
}
.hobbies1, .hobbies2{
    display: inline;
    flex-direction: row;
    background-color: rgb(3, 43, 43,.75);
    border-radius: 50px;
    width: fit-content;
}

#childhood{
    padding-right: 50%; 
    width: 100%;
    
}
body{
    background-image: url("UNM.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#mid-life{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 50%;
    background: size 20px;
    background-image: url("UNM.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
#retirement{
    width: 100%;
    padding-right: 50%;
    background-image: url("bookcase.jpg");
    
}
p{
    padding-left: 25%;
    width: 75%;
    
}
img{
    float:right;
    padding-top: 25px;
}


li{
    font-weight: 700;
}
#navbar {
    overflow: hidden;
    background-color: rgb(21, 0, 255);
    border-bottom-width: 15px;
    border-bottom: black;
    border: 10px;
}
#navbar {
    overflow: hidden;
    background-color: blue;
    border-bottom-width: 15px;
    border-bottom: chocolate;
}
#navbar a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 50px;
    text-decoration-line: none;
}
#navbar a:hover{
    color: red;
    background-color: black;

}
.home{
    color: aliceblue;
}
.containerAbout{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    color: azure;
    text-align: center;
    width:  100%;
    
    
}
span{
    width: 75%;
}
.backgroundH{
    background-color: azure;
}
#childhoodText{
    font-size: x-large;
}


